<h1>Edit Issue</h1>

<form [formGroup]="updateForm">
  <label for="issue-input">Issue Title: </label>
  <input id="issue-input" type="text" placeholder="Issue Title" formControlName="title" #title>
  <p>
  <label for="responsible-input">Responsible: </label>
  <input id="responsible-input" type="text" placeholder="Responsible" formControlName="responsible" #responsible>
  </p>
  <p>
  <label for="description-input">Description: </label>
  <input id="description-input" type="text" placeholder="Description" formControlName="description" #description>
  </p>
  <p>
  <label>Severity: </label>
  <select placeholder="Severity" formControlName="severity" #severity>
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>
  </p>
  <p>
  <label>Status: </label>
  <select placeholder="Status" formControlName="status" #status>
    <option value="Open">Open</option>
    <option value="Pending">Pending</option>
    <option value="Closed">Closed</option>
  </select>
  </p>
</form>

<br/>
<br/>

<button routerLink="/list">Go Back</button>

<br/>
<button type="submit" (click)="updateIssue(title.value, responsible.value, description.value, severity.value, status.value)"
  [disabled]="updateForm.pristine || updateForm.invalid">
  Update Issue
</button>